@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Naskh Arabic", serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header section */


header {
    width: 100%;
    height: 40px;
    background-color: #12376B;
    display: flex;
    border: 1px solid #12376B;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.Head {
    display: flex;
    /* max-width: 90%; */
}

.Head p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20.97px;
    color: #ffff;
}

.Head img {
    margin-left: 15px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
}

nav {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.icon {
    display: none;
}

.links {
    /* max-width: 90%; */
    display: flex;
}

/* .logo img {
    width: 136.63px;
    height: 62.86px;


} */

.links ul {
    display: flex;
    gap: 90px;
    text-decoration: none;
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: #12376B;
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}

.button1 {
    border: 0px solid;
    border-radius: 22.5px;
    /* max-width: 90%; */
    background-color: #F04B25;
    width: 163px;
    height: 45px;

}

.Button2 {
    width: 163px;
    height: 45px;
    border: 0px solid;
    border-radius: 22.5px;
    color: #D12215;
    background-color: #ffff;
}


/* checkoutMain */
.checkout_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.checkoutParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.RightSide {
    gap: 20px;
    display: flex;
    /* width: 345px;
    height: 693px; */
    align-items: flex-start;
}


#firstname,
#lastname {
    width: 343px;
    height: 56px;
    border-radius: 6px;
    margin-top: 1rem;
    border: 1px solid #8A8A8A;
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;



}

#PhoneNum,
#Email {
    width: 707px;
    height: 56px;
    border-radius: 6px;
    border: 1px solid #8A8A8A;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;

}

.checkoutDetails {
    width: 706px;
    height: 833px;
    border-radius: 20px;
    border: 0px solid;
    background-color: #F5F5F5;
}

.checkCard {
    display: flex;
    width: 345px;
    height: 693px;
    border-radius: 10px;
    border: 1px solid #BFBFBF;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 1.5rem;
    margin-top: 4.5rem;
}


.Chek {
    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 60px;
        text-align: right;
        color: #12376B;
    }

    span {
        color: #F04B25;
    }
}

.CheckInfo {
    margin-top: 2rem;


    h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 36.57px;
        text-align: right;
        color: #12376B;
    }

    p {
        font-family: Alexandria;
        font-size: 20px;
        font-weight: 400;
        line-height: 24.38px;
        text-align: right;
        color: #616161;
    }
}

.c-info {
    display: flex;
    flex-direction: row;
    gap: 0.5REM;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.paymenttxt {
    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: right;
        color: #12376B;
    }

    span {
        color: #F04B25;
    }
}

.paymentImg {
    background-color: #F5F5F5;
    border-radius: 10px;

    img {
        border-radius: 10px 10px 0px 0px;
        /* width: 466.91px; */
        /* height: 200.87px; */
    }
}

.uppersection {
    margin-bottom: 2rem;
}

#checkoutPhone {

    width: 235px;

    height: 31px;

    border-radius: 0px 4px 4px 0px;

    border: 1px solid #BFBFBF;
}


.txt {
    background-color: #F5F5F5;
    border: 0px solid #F5F5F5;
    border-radius: 10px;
    padding: 1rem;

    h3 {
        font-size: 25.75px;
        font-weight: 700;
        line-height: 24px;
        text-align: right;
        color: #12376B;
    }

    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: right;
        color: #686868;
        margin-top: 0.5rem;
    }

    span {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: right;
        color: #686868;
    }
}

.checkbtt {
    display: flex;
    flex-direction: row;

    button {
        border: 0px solid;
        width: 67px;
        height: 31px;
        border-radius: 4px 0px 0px 4px;
        background-color: #F04A26;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
    }
}

.LowerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Lowertxt {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h3 {
        font-size: 16.75px;
        font-weight: 600;
        line-height: 24px;
        color: #12376B;
    }
}

.LowerBtn {
    button {
        width: 297px;
        height: 59px;
        border-radius: 67px;
        border: 0px solid #F04B26;
        color: #D9D9D9;
        background-color: #F04B26;
    }
}




























/* Footer 2  */

.DadFooter2 {
    width: 100%;
    display: flex;
    justify-content: centers;
    padding: 4rem;
}

.Footer2 {
    padding: 2rem;
    width: 100%;
    height: 490px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #F04B25;
    background-color: #F04B25;
    align-items: center;
    flex-wrap: wrap;
}

.footerIcon {
    margin-bottom: 1rem;
}

.Footersymbol {
    p {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
        color: #F5F5F5;
    }
}

.social {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        text-align: right;
        color: #D9D9D9;

    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: right;
        color: #FFFFFF;
    }
}

.footerline {
    width: 90%;
    height: 1px;
    border: 1px solid #D9D9D9;
}

.FooterEnd {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #ffff;

    }

    align-items: center;
}














@media screen and (min-width : 0px) and (max-width: 768px) {
    /* header section */

    header {
        width: 100%;
    }

    body {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        object-fit: cober;
        /* width: 100%; */
    }

    nav {
        /* gap: 94px; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn,
    .links {
        width: 100%;
        display: none;
    }

    .icon {
        display: block;
    }

    /* checkoutMain */
    .checkout_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        padding: 1.5rem;
    }

    .checkoutParent {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .RightSide {
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        /* width: 345px;
    height: 693px; */
        align-items: flex-start;
    }


    #firstname,
    #lastname {
        width: 100%;
        height: 56px;
        border-radius: 6px;
        margin-top: 1rem;
        border: 1px solid #8A8A8A;
        padding: 1rem;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: right;



    }

    #PhoneNum,
    #Email {
        width: 100%;
        height: 56px;
        border-radius: 6px;
        border: 1px solid #8A8A8A;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: right;

    }

    .checkoutDetails {
        width: 100%;
        height: 833px;
        border-radius: 20px;
        border: 0px solid;
        background-color: #F5F5F5;
    }

    .checkCard {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid #BFBFBF;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding: 1.5rem;
        margin-top: 4.5rem;
    }


    .Chek {
        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            text-align: right;
            color: #12376B;
        }

        span {
            color: #F04B25;
        }
    }

    .CheckInfo {
        margin-top: 2rem;


        h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 36.57px;
            text-align: right;
            color: #12376B;
        }

        p {
            font-family: Alexandria;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.38px;
            text-align: right;
            color: #616161;
        }
    }

    .c-info {
        display: flex;
        flex-direction: row;
        gap: 0.5REM;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .paymenttxt {
        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: right;
            color: #12376B;
        }

        span {
            color: #F04B25;
        }
    }

    .paymentImg {
        background-color: #F5F5F5;
        border-radius: 10px;

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    .uppersection {
        width: 100%;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    #checkoutPhone {

        width: 100%;

        height: 31px;

        border-radius: 0px 4px 4px 0px;

        border: 1px solid #BFBFBF;
    }


    .txt {
        background-color: #F5F5F5;
        border: 0px solid #F5F5F5;
        border-radius: 10px;
        padding: 1rem;

        h3 {
            font-size: 25.75px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            color: #12376B;
        }

        p {
            font-size: 13px;
            font-weight: 400;
            line-height: 19.5px;
            text-align: right;
            color: #686868;
            margin-top: 0.5rem;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            color: #686868;
        }
    }

    .checkbtt {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;

        button {
            border: 0px solid;
            width: 67px;
            height: 31px;
            border-radius: 4px 0px 0px 4px;
            background-color: #F04A26;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
        }
    }

    .LowerSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    .Lowertxt {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5rem;

        /* margin-top: 1rem; */
        /* margin-bottom: 1rem; */
        h3 {
            width: 100%;
            font-size: 16.75px;
            font-weight: 600;
            line-height: 24px;
            color: #12376B;
        }
    }

    .LowerBtn {
        button {
            width: 100%;
            height: 59px;
            border-radius: 67px;
            border: 0px solid #F04B26;
            color: #D9D9D9;
            background-color: #F04B26;
        }

        ;
        width: 100%;
    }




































    /* Footer 2  */

    .DadFooter2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: centers;
        padding: 1rem;
    }

    .Footer2 {
        padding: 1.5rem;
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #F04B25;
        background-color: #F04B25;
        align-items: center;
        flex-wrap: wrap;
    }

    .footerIcon {
        margin-bottom: 1rem;
    }

    .Footersymbol {
        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: #F5F5F5;
        }
    }

    .social {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .second {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 14px;
            text-align: right;
            color: #D9D9D9;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    .footerline {
        width: 100%;
        height: 1px;
        border: 1px solid #D9D9D9;
    }

    .FooterEnd {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #ffff;

        }

        align-items: center;
    }

}



@media (min-width: 767px) and (max-width: 992px) {
    /* header section */

    header {
        width: 100%;
    }

    .logo img {
        object-fit: cober;
        /* width: 100%; */
    }

    nav {
        /* gap: 94px; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn,
    .links {
        width: 100%;
        display: none;
    }

    .icon {
        display: block;
    }

    /* checkoutMain */
    .checkout_main {
        width: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .checkoutParent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .RightSide {
        gap: 20px;
        display: flex;
        /* width: 345px;
    height: 693px; */
        align-items: flex-start;
    }


    #firstname,
    #lastname {
        width: 343px;
        height: 56px;
        border-radius: 6px;
        margin-top: 1rem;
        border: 1px solid #8A8A8A;
        padding: 1rem;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: right;
    }

    #PhoneNum,
    #Email {
        width: 100%;
        height: 56px;
        border-radius: 6px;
        border: 1px solid #8A8A8A;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: right;
    }

    .checkoutDetails {
        width: 100%;
        height: 833px;
        border-radius: 20px;
        border: 0px solid;
        background-color: #F5F5F5;
    }

    .checkCard {
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 1px solid #BFBFBF;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding: 1.5rem;
        margin-top: 4.5rem;
    }


    .Chek {
        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 60px;
            text-align: right;
            color: #12376B;
        }

        span {
            color: #F04B25;
        }
    }

    .CheckInfo {
        margin-top: 2rem;


        h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 36.57px;
            text-align: right;
            color: #12376B;
        }

        p {
            font-family: Alexandria;
            font-size: 20px;
            font-weight: 400;
            line-height: 24.38px;
            text-align: right;
            color: #616161;
        }
    }

    .c-info {
        display: flex;
        flex-direction: row;
        gap: 0.5REM;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .paymenttxt {
        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: right;
            color: #12376B;
        }

        span {
            color: #F04B25;
        }

        ;
        width: 100%;
    }

    .paymentImg {
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 10px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .uppersection {
        margin-bottom: 2rem;
    }

    #checkoutPhone {

        width: 100%;

        height: 31px;

        border-radius: 0px 4px 4px 0px;

        border: 1px solid #BFBFBF;

    }


    .txt {
        width: 100%;
        background-color: #F5F5F5;
        border: 0px solid #F5F5F5;
        border-radius: 10px;
        padding: 1rem;

        h3 {
            font-size: 25.75px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            color: #12376B;
        }

        p {
            font-size: 13px;
            font-weight: 400;
            line-height: 19.5px;
            text-align: right;
            color: #686868;
            margin-top: 0.5rem;
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            color: #686868;
        }
    }

    .checkbtt {
        width: 100%;
        display: flex;
        flex-direction: row;

        button {
            border: 0px solid;
            /* width: 100%; */
            height: 31px;
            border-radius: 4px 0px 0px 4px;
            background-color: #F04A26;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
        }
    }

    .LowerSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Lowertxt {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        h3 {
            width: 100%;
            font-size: 16.75px;
            font-weight: 600;
            line-height: 24px;
            color: #12376B;
        }
    }

    .LowerBtn {
        button {
            width: 100%;
            height: 59px;
            border-radius: 67px;
            border: 0px solid #F04B26;
            color: #D9D9D9;
            background-color: #F04B26;
        }

        ;
        width: 100%;
    }




























    /* Footer 2  */

    .DadFooter2 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4rem;
    }

    .Footer2 {
        padding: 2rem;
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #F04B25;
        background-color: #F04B25;
        align-items: center;
        flex-wrap: wrap;
    }

    .footerIcon {
        margin-bottom: 1rem;
    }

    .Footersymbol {
        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: #F5F5F5;
        }
    }

    .social {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .second {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 14px;
            text-align: right;
            color: #D9D9D9;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    .footerline {
        width: 100%;
        height: 1px;
        border: 1px solid #D9D9D9;
    }

    .FooterEnd {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #ffff;
        }

        align-items: center;
    }
}