@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Naskh Arabic", serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header section */


header {
    width: 100%;
    height: 40px;
    background-color: #12376B;
    display: flex;
    border: 1px solid #12376B;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.Head {
    display: flex;
    /* max-width: 90%; */
}

.Head p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20.97px;
    color: #ffff;
}

.Head img {
    margin-left: 15px;
    margin-right: 15px;
    width: 21px;
    height: 21px;
}

nav {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.icon {
    display: none;
}

.links {
    /* max-width: 90%; */
    display: flex;
}

/* .logo img {
    width: 136.63px;
    height: 62.86px;


} */

.links ul {
    display: flex;
    gap: 90px;
    text-decoration: none;
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: #12376B;
    font-size: 15.25px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}

.button1 {
    border: 0px solid;
    border-radius: 22.5px;
    /* max-width: 90%; */
    background-color: #F04B25;
    width: 163px;
    height: 45px;

}

.Button2 {
    width: 163px;
    height: 45px;
    border: 0px solid;
    border-radius: 22.5px;
    color: #D12215;
    background-color: #ffff;
}

/* cartsection */

.CartPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cartParent {
    width: 1018px;
    height: auto;
    border-radius: 10px;
    border: 0px solid #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    flex-direction: row;
    background-color: #F5F5F5;
}

.R-cart {
    width: 546px;
    height: 533px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.L-Cart {
    gap: 2rem;
    margin-right: 2rem;
    width: 546px;
    height: 533px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-start;
    background-color: #F5F5F5;

    h3 {
        font-size: 46.75px;
        font-weight: 700;
        line-height: 24px;
        text-align: right;
        color: #12376B;
    }

    span {
        font-size: 27px;
        font-weight: 700;
        line-height: 40.5px;
        text-align: right;
        color: #12376B;

    }

    p {
        font-size: 27px;
        font-weight: 400;
        line-height: 40.5px;
        text-align: right;
        color: #818181;
    }
}

.checkbox {
    /* width: 303px; */
    /* height: 336px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

.checkbox {
    label {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
        color: #686868;
    }

    input {
        width: 27px;
        height: 27px;
        margin-left: 0.5rem;
        color: #12376B;
    }
}

.Ltxt {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.R-img {
    img {
        /* width: 100%;
        height: 598px; */
        object-fit: contain;
        border-radius: 0px 10px 10px 0px;
    }
}

.CartBtn {
    margin-top: 1rem;

    button {
        width: 1025px;
        height: 85px;
        border-radius: 137px;
        background-color: #F04A26;
        border: 0px solid;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 50.4px;
        text-align: center;
    }

}














/* Footer 2  */

.DadFooter2 {
    width: 100%;
    display: flex;
    justify-content: centers;
    padding: 4rem;
}

.Footer2 {
    padding: 2rem;
    width: 100%;
    height: 490px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #F04B25;
    background-color: #F04B25;
    align-items: center;
    flex-wrap: wrap;
}

.footerIcon {
    margin-bottom: 1rem;
}

.Footersymbol {
    p {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: right;
        color: #F5F5F5;
    }
}

.social {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        text-align: right;
        color: #D9D9D9;

    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: right;
        color: #FFFFFF;
    }
}

.footerline {
    width: 90%;
    height: 1px;
    border: 1px solid #D9D9D9;
}

.FooterEnd {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #ffff;

    }

    align-items: center;
}










@media screen and (min-width : 0px) and (max-width: 768px) {
    /* header section */

    header {
        width: 100%;
    }

    body {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        object-fit: cober;
        /* width: 100%; */
    }

    nav {
        /* gap: 94px; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn,
    .links {
        width: 100%;
        display: none;
    }

    .icon {
        display: block;
    }





    .CartPage {
        padding: 1.5rem;
        width: 100%;
        /* height: auto; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .cartParent {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 0px solid #F5F5F5;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #F5F5F5;
        align-content: center;
        align-items: center;
    }

    .R-cart {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .L-Cart {
        gap: 2rem;
        margin-right: 2rem;
        width: 87%;
        height: auto;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        background-color: #F5F5F5;

        h3 {
            font-size: 19.75px;
            font-weight: 700;
            line-height: 24px;
            text-align: right;
            color: #12376B;
        }

        span {
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            line-height: 40.5px;
            text-align: right;
            color: #12376B;
        }

        p {
            width: 100%;
            font-size: 27px;
            font-weight: 400;
            line-height: 40.5px;
            text-align: right;
            color: #818181;
        }

        ;
        flex-direction: column;
    }

    .checkbox {
        /* width: 303px; */
        /* height: 336px; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .checkbox {
        label {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: #686868;
        }

        input {
            /* width: 100%; */
            /* height: auto; */
            margin-left: 0.5rem;
            color: #12376B;
        }

        ;
        height: auto;
        width: 77%;
    }

    .Ltxt {
        width: 98%;
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .R-img {
        img {
            /* width: 100%;
            height: 598px; */
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 10px 10px 0px 0px;
        }

        ;
        height: auto;
        width: 100%;
    }

    .CartBtn {
        width: 100%;
        margin-top: 1rem;

        button {
            padding: 1.5rem;
            width: 100%;
            height: auto;
            border-radius: 137px;
            background-color: #F04A26;
            border: 0px solid;
            color: #FFFFFF;
            font-size: 26px;
            font-weight: 700;
            line-height: 50.4px;
            text-align: center;
        }
    }

















    /* Footer 2  */

    .DadFooter2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: centers;
        padding: 1rem;
    }

    .Footer2 {
        padding: 1.5rem;
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #F04B25;
        background-color: #F04B25;
        align-items: center;
        flex-wrap: wrap;
    }

    .footerIcon {
        margin-bottom: 1rem;
    }

    .Footersymbol {
        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: #F5F5F5;
        }
    }

    .social {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .second {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 14px;
            text-align: right;
            color: #D9D9D9;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    .footerline {
        width: 100%;
        height: 1px;
        border: 1px solid #D9D9D9;
    }

    .FooterEnd {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #ffff;

        }

        align-items: center;
    }

}













@media (min-width: 767px) and (max-width: 992px) {
    /* header section */

    header {
        width: 100%;
    }

    .logo img {
        object-fit: cober;
        /* width: 100%; */
    }

    nav {
        /* gap: 94px; */
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn,
    .links {
        width: 100%;
        display: none;
    }

    .icon {
        display: block;
    }


























    /* Footer 2  */

    .DadFooter2 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4rem;
    }

    .Footer2 {
        padding: 2rem;
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #F04B25;
        background-color: #F04B25;
        align-items: center;
        flex-wrap: wrap;
    }

    .footerIcon {
        margin-bottom: 1rem;
    }

    .Footersymbol {
        p {

            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: right;
            color: #F5F5F5;
        }
    }

    .social {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .second {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 18px;
            font-weight: 700;
            line-height: 14px;
            text-align: right;
            color: #D9D9D9;

        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: right;
            color: #FFFFFF;
        }
    }

    .footerline {
        width: 100%;
        height: 1px;
        border: 1px solid #D9D9D9;
    }

    .FooterEnd {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            color: #ffff;
        }

        align-items: center;
    }
}